@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* CUSTOM */

.custom-checkbox {
  @apply w-8 h-8 appearance-none border-2 border-gray-300 rounded-md cursor-pointer;
  position: relative;
}

.custom-checkbox:checked {
  @apply border-green-500;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 8px;
  width: 11px;
  height: 17px;
  border: solid green;
  border-width: 0 3px 3px 0;
  transform: rotate(35deg);
}

.custom-checkbox:focus {
  @apply outline-none;
}

